<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encrypt and hide secret message</title>
</head>
<body style="background-color: bisque;">
{% include 'header.html' %}<br><br><br><br><br><br>
    <center>
        <h3> Stego Converter - Encrypt and Hide message</h3>

    <br>
    <br>
    <h2>Select a file to upload</h2>
<br>
<form method="post" action="/convert" enctype="multipart/form-data">
    <dl>
		<p> Select file to hide message in :
			<input type="file" name="file" autocomplete="off" required>
		</p>
        <br>
        <p>
            Enter you secret message here :
            <input type="text" name="message" required>
        </p>
        <br>
        <p>
            Enter your password to encrypt the file :
            <input type="text" name="password" required>
        </p>
    </dl>
    <p>
		<input type="submit" value="Encrypt">
	</p>
</form>
</center>
</body>
</html>