<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color:bisque;">
{% include 'header.html' %}<br><br><br><br><br><br>
<center>
    <h2>
        Image-Stego Converter
    </h2>

<form method="POST" action="/login">
<input name="email" placeholder="email">
<input name="password" placeholder="password" type="password">
<input type="submit" value="Login">
</form>
    <br>
    <br>
    Please login to access this secure application.
    <br>
    <br>
    {{ msg }}
</center>
</body>
</html>